* {
  font-family: 'Philosopher', sans-serif;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.container {
  text-align: center;
  padding: 6em;
  /* display: inline-block; */
  /* margin: auto; */
}

.content {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  padding:10px;
  border-radius: 15px;
  border: 1px solid goldenrod;
}

heading {
  color: #f1f1f1;
  padding: 30px;
}

.quizScores ul {
  list-style-type: none;
  color: rgb(118, 189, 59);
  display: none;
}