/* base rules for all content */
* {
  box-sizing: border-box;
  font-family: 'Philosopher', sans-serif;
}

/* start by hiding stats and all boxes on first page */
.y { 
  display:none; 
}
.quizScores {
  display:none;
}

/* background video- DO NOT ADJUST */
.backVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1; 
} 

/* styling for majority of content on page */
main, html {
  margin: 0;
  padding: 0;
}
main {
  text-align: center;
  color: #ebe5c6;
  margin: auto;
  padding-top: 3%;
}
.content {
  display: inline-block;
  border-radius: 15px;
  border: 1.5px solid goldenrod;
  background: rgba(20, 16, 0, 0.7);
  width:65%;
  margin: auto;
}

/* style for scores and ques number */
.quizScores {
  color: rgb(117, 161, 58);
  margin: auto;
  text-shadow:
		-.5px -.5px 0 #b49e31,
		.5px -.5px 0 #b49e31,
		-.5px .5px 0 #b49e31,
    .5px .5px 0 #b49e31;
  font-size: 22px;
}
ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
  padding: 5px 40px;
  margin: 0 5%;
}
li:hover {
  color: #c9ad24; 
}
li .stats {
  display: inline-block; 
  font-weight: bold;
} 

/* style for quiz title */
h1 .title {
  text-decoration: none;
  color: #ebe5c6;
  font-size: 30px;
}
h1 .title:hover {
  text-decoration: underline;
  color: #e7dca2;
} 


/* quick blurb at beginning of quiz */
.startQuiz h1 {
  font-size: 24px;
  color: rgb(204, 161, 51);
} 

/* start button design */
button {
  text-decoration: none;
  margin: 3%;
  height: auto;
  font-size: 22px;
  text-align: center;
  background:rgb(216, 175, 72);
  border: 1px solid goldenrod;
  border-radius:3px;
  padding: 1.7%;
}

button:focus {
  outline: none;
}

button:active {
  background: rgb(139, 161, 58);
  border: 1px solid rgb(31, 119, 39); 
}
/* end button design  */

/* formatting for the .quesBox questions, answers, and positioning */

.box {
  margin: 20px;
}

fieldset {
  display: inline-block;
  border: none;
  margin:auto;
  width: 92%;
}
fieldset .quesText {
  color: rgb(204, 161, 51);
  font-weight: bold;
  font-size: 22px;
  margin: 0, 20px;
}

.sizeMe input { /* radio buttons*/
  float:left; 
  margin:10px, 0;
}
.sizeMe span {
  margin: 30px, 0;
}


/* formatting for the text in .ansBox */
.ansBox h2 {
  font-size:24px; 
  font-weight:normal;
}
.ansBox h3 {
  font-weight:lighter;
}
.ansBox h3 span {
  font-style:italic; 
  color: goldenrod; 
  font-size:23px;
  font-weight: bold;
}
.ansBox p {
  font-size:22px;
}

/* formatting for the text in .redoBox */

.redoBox span {
  color: goldenrod;
}

.redoBox button a {
  text-decoration: none;
  color: black;
}